 <!DOCTYPE html>

<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/weather.png">
    <body>
      <div class="main-content">
        {{>header}}
        <img class="potrait" src="/img/1200px-Letter_o.svg.png" alt="" />
      </div>
      {{>footer}}
    </body>
  </head>
</html>
